# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-react
dist-electron
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#python ignores
backend/__pycache__/
backend/.venv/
backend/process.py

# Python embedded - ignore installed packages
backend/python-embedded/Lib/site-packages/
backend/python-embedded/Scripts/
backend/python-embedded/get-pip.py

# Python embedded - keep core files
!backend/python-embedded/python.exe
!backend/python-embedded/python313.dll
!backend/python-embedded/python313.zip
!backend/python-embedded/python313._pth
!backend/python-embedded/_*.pyd
!backend/python-embedded/LICENSE.txt