.toolbar {
  width: 100%;
  height: 150px;
  background-color: #191919;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
}

.start-stop-buttons{
  display: flex;
  padding: 0 0 80px;
}

.start-btn{
  cursor: pointer;
  padding: 5px 5px;
  height: 38px;
  width: 38px;
  background-color: green;
  border: 0;
  transition: background-color 0.5s;
  border-radius: 12px;
  margin: 5px;
}

.start-btn img {
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.start-btn:hover {
  background-color: greenyellow;
}

.stop-btn{
  cursor: pointer;
  padding: 5px 5px;
  height: 38px;
  width: 38px;
  background-color: darkred;
  border: 0;
  transition: background-color 0.5s;
  border-radius: 12px;
  margin: 5px;
}

.stop-btn img{
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.stop-btn:hover{
  background-color: red;
}

.input-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: start;
  padding-right: 20px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 190px;
  margin-right: 10px;
}

.input-label-corelation{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.COM-select{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#current-limiter{
  width: 140px;
  margin-right: 5px;
}

#current-limiter-units{
  width: 45px;
}

select{
  width: 120px;
  margin: 0 0 5px 0;
}